[Unit]
Description=Market Day Spring Boot API
After=network-online.target mssql-server.service
Wants=network-online.target mssql-server.service

[Service]
Type=simple
User=zxcasdqwe901125
Group=zxcasdqwe901125

WorkingDirectory=/home/zxcasdqwe901125/Market_day_api
ExecStart=/usr/bin/bash /home/zxcasdqwe901125/Market_day_api/run-local.sh

Restart=on-failure
RestartSec=5

SuccessExitStatus=143
TimeoutStopSec=30
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
