[Unit]
Description=Market Day Spring Boot API
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=chengchih1125
Group=chengchih1125

WorkingDirectory=/home/chengchih1125/Market_day_api
ExecStart=/usr/bin/bash /home/chengchih1125/Market_day_api/run-local.sh

Restart=on-failure
RestartSec=5

SuccessExitStatus=143
TimeoutStopSec=30
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
